<section class="module module-gray" id="education">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>
            <fa-icon class="module-icon" [icon]="['fas', 'school']" size="lg"></fa-icon>
            Education
          </h2>
          <div class="block"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-borderless">
          <tbody>
            <tr *ngFor="let e of education;">
              <td>{{ e.title }}</td>
              <td><strong>{{ e.universityName }}</strong></td>
              <td><strong>{{ e.dates }}</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
