<section *ngIf="education" class="module module-gray" id="education">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>
            <fa-icon class="module-icon" [icon]="['fas', 'school']" size="lg"></fa-icon>
            Education
          </h2>
          <div class="block"></div>
        </div>
      </div>
    </div>
    <div class="row" *ngFor="let e of education;">
      <div class="col-md-12">
        <ul>
          <li><a target="_blank" href={{e.url}}>{{ e.name }}</a></li>
          <li><strong>{{ e.degree }}</strong>, {{e.fieldOfStudy}}</li>
          <li>
            <strong>
              {{e.startDate | date:'MM/yyyy'}} - {{e.endDate | date:'MM/yyyy'}}
            </strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>