<nav class="nav" id="menu">

  <div class="wrap">
    <button id="mobile-btn" class="hamburger-btn">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
    <ul class="top-menu" id="top-menu">
      <li>
        <a href="#home">
          <span>Home</span>
          <fa-icon [icon]="['fas', 'home']"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#skills">
          <span>Skills</span>
          <fa-icon [icon]="['fas', 'tools']"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#experience">
          <span>Experience</span>
          <fa-icon [icon]="['fas', 'business-time']"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#certification">
          <span>Certification</span>
          <fa-icon [icon]="['fas', 'award']"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#education">
          <span>Education</span>
          <fa-icon [icon]="['fas', 'school']"></fa-icon>
        </a>
      </li>
      <li>
        <a href="#contacts">
          <span>Contacts</span>
          <fa-icon [icon]="['fas', 'contact-card']"></fa-icon>
        </a>
      </li>
    </ul>
  </div>
</nav>
