<nav class="nav" id="menu">
  <div class="wrap">
    <button id="mobile-btn" class="hamburger-btn">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
    <ul class="top-menu" id="top-menu">
      <li>
        <a href="#home">

          <fa-icon [icon]="['fas', 'home']"></fa-icon>
        </a>
      </li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#certification">Certification</a></li>
      <li><a href="#education">Education</a></li>
      <li><a href="#contacts">Contacts</a></li>
    </ul>
  </div>
</nav>
