.nav {
  justify-content: space-around;
  position: fixed;
  z-index: 3;
  font-family: "Montserrat", Arial, serif;
  font-size: 14px;
  color: white;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  transition: 300ms ease;
  --bs-navbar-toggler-font-size: 1.75rem;
}

@media screen and (min-width: 999px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: space-around;
  }

  .menuIcon {
    display: none;
  }

  .navbar-nav li a {
    padding: 0 1em;
  }
}

@media screen and (max-width: 998px) {
  .nav-item {
    float: none;
    margin-left: 0;
    border-bottom: 2px solid rgba(130, 130, 130, 0.15);
  }

  #menu.navbar-dark {
    padding: 0;
    background-color: rgba(50, 50, 50, 0.3);
  }

  .container-fluid {
    padding: 0;
    backdrop-filter: blur(5px);
  }

  .navbar-nav li a {
    padding: 0 1.8em;
  }
  .navbar-nav li a:hover {
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0)
    );
  }

  .navbar-nav li a {
    padding: 0;
  }

  .menuIcon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
  }
}

.navbar-nav li {
  display: block;
  float: left;
  height: 60px;
}
.navbar-nav li a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  font-size: 14px;

  font-family: "Montserrat", Arial, serif;
}
.navbar-nav li a:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}

.nav-link {
  font-family: "Montserrat", Arial, serif;
  font-size: 14px;
}

.navbar-dark {
  --bs-navbar-color: rgba(255, 255, 255, 1);
}

.navbar-light {
  --bs-navbar-color: rgba(0, 0, 0, 1);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:hover {
  border-style: none;
  border-radius: 0;
  box-shadow: none;
  height: 60px;
  width: 60px;
}

.navbar-toggler:hover {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
}
.scroll {
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.scroll .top-menu li a,
.scroll .brand {
  color: black;
}
