.footer {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer2 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  border-top: 1px solid #828282;
}

.footer-main {
  max-width: 40%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
}
.footer-navigate {
  display: flex;
  justify-content: space-around;
}
.footer-navigate .nav {
  margin-left: 100px;
}
.footer-navigate .nav h5 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
.footer-navigate .nav p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #d7d7d7;
}

.footer-navigate .nav .navlink {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #b4b4b4;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: color;
}
.footer-navigate .nav .navlink:hover {
  color: #be78ff;
  cursor: pointer;
}

.footer2 p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 36px;
  width: 100%;
  text-align: end;
  color: #828282;
}

@media screen and (max-width: 1040px) {
  .footer {
    flex-direction: column;
  }
  .footer-main {
    max-width: 80%;
    margin-bottom: 50px;
    text-align: center;
  }
  .footer-navigate .nav:first-child {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .footer-main {
    font-size: 20px;
    line-height: 30px;
    max-width: 100%;
    margin-bottom: 50px;
    text-align: center;
  }

  .footer-navigate {
    justify-content: space-around;
    width: 100%;
  }
  .footer-navigate .nav {
    margin-left: 20px;
  }
  .footer-navigate .nav h5 {
    font-size: 20px;
    line-height: 30px;
  }
  .footer-navigate .nav p {
    font-size: 14px;
    line-height: 18px;
  }
  .footer-navigate .nav .navlink {
    font-size: 14px;
    line-height: 18px;
  }
}
