<section id="footer">
  <div class="footer">
    <div class="footer-main">
      If you have any feedback or questions, please don't hesitate to reach out. Thanks!
    </div>
    <div class="footer-navigate">
      <div class="nav">
        <h5>Site Map</h5>
        <p>Home</p>
        <p>Skills</p>
        <p>Experience</p>
        <p>Certification</p>
      </div>
      <div class="nav">
        <h5>Portfolio</h5>
        <p>Coming soon</p>
        <p>Awesome Project</p>
        <p>Brilliant Project</p>
      </div>
      <div class="nav">
        <h5>Contact</h5>
        <p>LinkedIn</p>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Email</p>
      </div>
    </div>
  </div>

  <div class="footer2">
    <div></div>
    <p>Copyright 2023 Mikhail Krasilnikov</p>
  </div>
</section>