<section id="footer">
  <div class="footer">
    <div class="footer-main">
      If you have any feedback or questions, please don't hesitate to reach out. Thanks!
    </div>
    <div class="footer-navigate">
      <div class="nav">
        <h5>Site Map</h5>
        <p><a class="navlink" href="#home">Home</a></p>
        <p><a class="navlink" href="#skill">Skills</a></p>
        <p><a class="navlink" href="#experience">Experience</a></p>
        <p><a class="navlink" href="#certification">Certification</a></p>
      </div>
      <div class="nav">
        <h5>Contacts</h5>
        <p><a class="navlink" href="https://www.linkedin.com/in/mickeykrasilnikov" target="_blank">LinkedIn</a></p>
        <p><a class="navlink" href="https://www.facebook.com/mickey.krasilnikov" target="_blank">Facebook</a></p>
        <p><a class="navlink" href="https://www.instagram.com/mickey.krasilnikov" target="_blank">Instagram</a></p>
        <p><a class="navlink" href="mailto:Mickey.Krasilnikov@gmail.com" target="_blank">Email</a></p>
      </div>
    </div>
  </div>

  <div class="footer2">
    <div></div>
    <p>Copyright 2023 Mikhail Krasilnikov</p>
  </div>
</section>