<section id="certification">
  <div class="cert">
    <p class="cert-boldtext">Certification</p>
    <p class="cert-slimtext">My achievements</p>
    <div class="cert-title">
      <p></p>

      <div class="cert-filters">

        <div class="cert-filter">
          Issuer
          <svg xmlns="https://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 11 6">
            <path
              style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(255, 255, 255);stroke-opacity:1;stroke-miterlimit:4"
              d="M15.4787 1.002 8.3732 7.998 1.2678 1.002" transform="scale(.64706 .66667)" />
          </svg>
        </div>

        <div class="cert-filter">
          Importance
          <svg xmlns="https://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 11 6">
            <path
              style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(255, 255, 255);stroke-opacity:1;stroke-miterlimit:4"
              d="M15.4787 1.002 8.3732 7.998 1.2678 1.002" transform="scale(.64706 .66667)" />
          </svg>
        </div>

        <div class="cert-filter">
          Expiration
          <svg xmlns="https://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 11 6">
            <path
              style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:rgb(255, 255, 255);stroke-opacity:1;stroke-miterlimit:4"
              d="M15.4787 1.002 8.3732 7.998 1.2678 1.002" transform="scale(.64706 .66667)" />
          </svg>
        </div>

      </div>
    </div>

    <div class="cert-items">
      <div class="cert-items__item" *ngFor="let cert of certification">
        <a href={{cert.verificationUrl}} target="_blank">
          <img class="cert-items__item-img" [src]=cert.badgeImageUrl alt={{cert.name}}>
        </a>
        <div class="cert-items__item-title">
          <p>{{cert.name}}</p>
        </div>
        <p class="cert-items__item-date">{{ cert.expirationDate | expiration }}</p>
      </div>
    </div>

  </div>
</section>