<section class="module module-gray" id="certification">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>
            <fa-icon class="module-icon" [icon]="['fas', 'award']" size="lg"></fa-icon>
            Certification
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-borderless">
          <tbody>
            <tr *ngFor="let cert of certification;">
              <td>
                <fa-icon [icon]="['fab', cert.firmIcon ]" size="lg"></fa-icon>
              </td>
              <td>{{ cert.title }} - <strong> {{ cert.name }} </strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
