<section id="showcase">
  <div class="showcase">
    <p class="showcase-boldtext">Showcase & Share</p>
    <p class="showcase-slimtext">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hey there! I wanted to share with you the website I developed
      for a few different
      purposes. Firstly, it serves as a
      platform for me to share my resume, experience, and skills with recruiters. But it's not just about me! I hope
      to help others learn about specific technologies by
      providing them with
      real-life
      examples of functional applications, complete with source code shared on <a class="showcase-textlink"
        href="https://github.com/mickey-krasilnikov" target="_blank">GitHub</a>. In plans, I would like to build
      the frontend of the website using <a class="showcase-textlink" href="https://angular.io/"
        target="_blank">Angular</a>, <a class="showcase-textlink" href="https://vuejs.org/" target="_blank">Vue.js</a>,
      and
      <a class="showcase-textlink" href="https://reactjs.org/" target="_blank">React</a>, all with the
      same
      UI/UX
      backed by <a class="showcase-textlink" class="showcase-textlink" href="https://restfulapi.net/"
        target="_blank">RESTful Web
        API</a> utilizing various programming
      languages such as
      <a class="showcase-textlink" href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">C#</a> (<a
        class="showcase-textlink" href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-7.0"
        target="_blank">ASP.NET Core Web
        API</a>), <a class="showcase-textlink" href="https://go.dev/" target="_blank">GoLang</a>
      (<a class="showcase-textlink" href="https://gin-gonic.com/" target="_blank">Gin</a>),
      <a class="showcase-textlink" href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> (<a
        class="showcase-textlink" href="https://expressjs.com/" target="_blank">Express</a>), <a
        class="showcase-textlink" href="https://www.python.org/">Python</a>
      (<a class="showcase-textlink" href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank">Flask</a>), etc.
      To make
      it even more
      customizable, the backend can be connected to Relational
      <a class="showcase-textlink" href="https://www.microsoft.com/en-us/sql-server/" target="_blank">MS SQL Server</a>
      or NoSQL <a class="showcase-textlink" href="https://mongodb.com" target="_blank">MongoDB</a>. I also have in my
      plans the
      idea to build a
      mobile client for iOS using <a class="showcase-textlink" href="https://www.apple.com/swift/"
        target="_blank">Swift</a>
      and a
      desktop
      app using <a class="showcase-textlink" href="https://www.electronjs.org/">Electron</a>. I’m sorry if at the moment
      when
      you read this, not
      everything is completed, as it could
      take some time to
      implement all
      of this. I'm excited to share this with you, and I hope you find it interesting and informative.
      Feel free to
      contact me
      in case
      if you need any help. Thanks for taking the time to check it out!
    </p>
  </div>
</section>