.about {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.about .about-boldtext {
  margin: 0;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
}
.about .about-slimtext {
  margin: 0;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #e2e2e2;
}
.about .about-innertext .about-textlink {
  background: linear-gradient(93.51deg, #be78ff 2.84%, #61a6ff 99.18%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about-innertext .about-textlink:hover {
  border-bottom: 1.5px solid #be78ff;
}
.about .about-innertext {
  margin: 24px 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .about .about-innertext {
    font-size: 15px;
    line-height: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .about .about-innertext {
    text-align: justify;
  }
  .about .about-boldtext {
    text-align: center;
  }
}
