<section class="module" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>
            <fa-icon class="module-icon" [icon]="['fas', 'contact-card']" size="lg"></fa-icon>
            Contacts
          </h2>
          <div class="block"></div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="contacts">
          <ul>
            <li>
              <a target="_blank" href="tel:{{contacts.get('phone')?.url}}">
                <fa-icon class="contact-icon" [icon]="['fas', 'phone']" size="lg"></fa-icon>
                {{contacts.get('phone')?.value | phone:'US' }}
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('telegram')?.url}}">
                <fa-icon class="contact-icon" [icon]="['fab', 'telegram']" size="lg"></fa-icon>
                {{contacts.get('telegram')?.value }}
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('whatsapp')?.url}}">
                <fa-icon class="contact-icon" [icon]="['fab', 'whatsapp']" size="lg"></fa-icon>
                {{contacts.get('whatsapp')?.value }}
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('email')?.url}}">
                <fa-icon class="contact-icon" [icon]="['far', 'envelope']" size="lg"></fa-icon>
                {{contacts.get('email')?.value}}
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('location')?.url}}">
                <fa-icon class="contact-icon" [icon]="['fas', 'location-dot']" size="lg"></fa-icon>
                {{contacts.get('location')?.value}}
              </a>
            </li>
          </ul>
        </div>

        <div class="profile-widget">
          <h5>Social Profiles</h5>
          <ul class="widget-social">
            <li>
              <a target="_blank" href="{{contacts.get('github')?.url}}" ngbTooltip="{{contacts.get('github')?.value}}">
                <fa-icon [icon]="['fab', 'github-square']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('linkedin')?.url}}"
                ngbTooltip="{{contacts.get('linkedin')?.value}}">
                <fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('instagram')?.url}}"
                ngbTooltip="{{contacts.get('instagram')?.value}}">
                <fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('facebook')?.url}}"
                ngbTooltip="{{contacts.get('facebook')?.value}}">
                <fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts.get('twitter')?.url}}"
                ngbTooltip="{{contacts.get('facebook')?.value}}">
                <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 widget">
        <input type="text" name="name" placeholder="Name" /><br />
        <input type="email" name="email" placeholder="Email" /><br />
        <textarea rows="4" type="text" name="message" placeholder="Message"></textarea><br />

        <button class="btn btn-brand" id="sendMessage" type="submit" disabled>
          <span>Send Message</span>
        </button>
      </div>
    </div>
  </div>
</section>