ul,
ol {
  padding-left: 0;
  list-style: none;
}

ul > li,
ol > li {
  margin: 0 0 5px;
}

.widget input,
.widget select,
.widget textarea {
  width: 100%;
  border: 2px solid #7d7d7d;
  border-radius: 5px;
  font-family: "Montserrat", Arial, serif;
  font-size: 14px;
  padding: 0.5rem;
  margin: 5px;
}

.widget input:focus,
.widget select:focus,
.widget textarea:focus {
  border: 2px solid var(--primaryColor);
  outline: var(--primaryColor);
  transition: 350ms;
}

.widget-social li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.widget-social {
  padding: 0;
  margin: 0;
}

.widget-social li {
  display: inline-block;
  margin-right: 5px;
}

.widget-social li a {
  background: #000000;
  text-align: center;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.25em;
  color: #fff;
}

.widget-social li a:hover {
  background: var(--primaryColor);
}

.contacts {
  margin: 10px 5px 5px 5px;
}

.profile-widget {
  margin: 5px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
}
