<section class="module" id="contacts">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>
            <fa-icon class="module-icon" [icon]="['fas', 'contact-card']" size="lg"></fa-icon>
            Contacts
          </h2>
          <div class="block"></div>
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="contacts">
          <ul>
            <li>
              <a target="_blank" href="tel:{{contacts['phone']}}">
                <fa-icon class="contact-icon" [icon]="['fas', 'phone']" size="lg"></fa-icon>
                {{contacts['phone'] | phone:'US' }}
              </a>
            </li>
            <li>
              <a target="_blank" href="https://t.me/{{contacts['phone']}}">
                <fa-icon class="contact-icon" [icon]="['fab', 'telegram']" size="lg"></fa-icon>
                Telegram
              </a>
            </li>
            <li>
              <a target="_blank" href="https://wa.me/{{contacts['phone']}}">
                <fa-icon class="contact-icon" [icon]="['fab', 'whatsapp']" size="lg"></fa-icon>
                Whatsapp
              </a>
            </li>
            <li>
              <a target="_blank" href="mailto:your_email">
                <fa-icon class="contact-icon" [icon]="['far', 'envelope']" size="lg"></fa-icon>
                {{contacts['email']}}
              </a>
            </li>
            <li>
              <a target="_blank" href="https://www.google.com/maps/place/{{contacts['location']}}/">
                <fa-icon class="contact-icon" [icon]="['fas', 'location-dot']" size="lg"></fa-icon>
                {{contacts['location']}}
              </a>
            </li>
          </ul>
        </div>

        <div class="profile-widget">
          <h5>Social Profiles</h5>
          <ul class="widget-social">
            <li>
              <a target="_blank" href="{{contacts['github']}}">
                <fa-icon [icon]="['fab', 'github-square']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts['linkedin']}}">
                <fa-icon [icon]="['fab', 'linkedin']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts['instagram']}}">
                <fa-icon [icon]="['fab', 'instagram']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts['facebook']}}">
                <fa-icon [icon]="['fab', 'facebook']" size="lg"></fa-icon>
              </a>
            </li>
            <li>
              <a target="_blank" href="{{contacts['twitter']}}">
                <fa-icon [icon]="['fab', 'twitter']" size="lg"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-8 widget">
        <input type="text" name="name" placeholder="Name" /><br />
        <input type="email" name="email" placeholder="Email" /><br />
        <textarea rows="4" type="text" name="message" placeholder="Message"></textarea><br />

        <button class="btn btn-brand" id="sendMessage" type="submit">
          <span>Send Message</span>
        </button>
      </div>
    </div>
  </div>
</section>
