.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}
.navbar .navbar-hamburger {
  display: none;
}

@media screen and (max-width: 925px) {
  .navbar-hamburger {
    display: flex !important;
    cursor: pointer;
    background-color: transparent;
    height: 45px;
    width: 45px;
    color: #bcbcbc;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid;
    border-color: transparent;
    transition: all 0.3s ease-in-out;

    align-items: center;
    justify-content: center;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .navbar .navbar-hamburger:hover {
    border-color: #ffffff;
    color: #ffffff;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.navbar .email-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;

  min-width: 50px;
  max-width: 150px;
  padding: 0 10px;
  height: 40px;
  opacity: 1;
  border: 2px solid;
  border-color: transparent;
  color: #bcbcbc;
  transition: all 0.3s ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar .email-btn svg {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.navbar .email-btn svg g path {
  fill: #bcbcbc;
  transition: all 0.3s ease-in-out;
}
.navbar .email-btn:hover svg g path {
  fill: #ffffff;
}

.navbar .email-btn:hover {
  border-color: #ffffff;
  color: #ffffff;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar .email-btn:active {
  -webkit-transform: translate3d(0, 0, 0) scale(0.95);
  transform: translate3d(0, 0, 0) scale(0.95);
}

.navbar .navlogo {
  height: 100%;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.navlinkwrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-self: center;
}
.navbar .navlink {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  min-width: 50px;
  max-width: 100px;
  padding: 0 10px;
  height: 40px;
  opacity: 1;
  border: 2px solid;
  border-color: transparent;
  color: #bcbcbc;
  transition: all 0.3s ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar .navlink:hover {
  border-color: #ffffff;
  color: #ffffff;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar .navlink:not(:last-child) {
  margin-right: 32px;
}

.navbar .navlink:active {
  -webkit-transform: translate3d(0, 0, 0) scale(0.95);
  transform: translate3d(0, 0, 0) scale(0.95);
}

@media screen and (max-width: 925px) {
  .navlinkwrap {
    display: none;
  }

  .buttonwrap {
    display: none;
  }
}
