.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}
.navbar .navbar-hamburger {
  display: none;
}

@media screen and (max-width: 925px) {
  .navbar-hamburger {
    display: flex !important;
    cursor: pointer;
    background-color: transparent;
    height: 45px;
    width: 45px;
    color: #bcbcbc;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid;
    border-color: transparent;
    transition: all 0.3s ease-in-out;

    align-items: center;
    justify-content: center;

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .navbar .navbar-hamburger:hover {
    border-color: #ffffff;
    color: #ffffff;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.navbar .signinbtn {
  cursor: pointer;
  background-color: transparent;
  width: 126px;
  height: 45px;
  color: #bcbcbc;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border-radius: 10px;
  border: 2px solid;
  border-color: transparent;
  transition: all 0.3s ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar .signinbtn:hover {
  border-color: #ffffff;
  color: #ffffff;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.navbar .navlogo {
  height: 100%;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
.navbar .navlink {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #bcbcbc;
  transition: color 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar .navlink:hover {
  /* color: #be78ff; */
  color: #ffffff;
  cursor: pointer;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.navbar .navlink:not(:last-child) {
  margin-right: 32px;
}

@media screen and (max-width: 925px) {
  .navlinkwrap {
    display: none;
  }

  .buttonwrap {
    display: none;
  }
}
