<section *ngIf="!isLoading" class="module" id="experience">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>
            <fa-icon class="module-icon" [icon]="['fas', 'business-time']" size="lg"></fa-icon>
            Experience
          </h2>
          <div class="block"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="timeline">
          <li *ngFor="let exp of experience">
            <div class="timeline-badge"></div>
            <div class="timeline-panel">
              <div class="timeline-body">
                <h5 class="timeline-title">
                  {{exp.title}} |
                  {{exp.startDate | date: 'MMM yyyy'}} -
                  {{exp.endDate ? (exp.endDate | date: 'MMM yyyy') : 'Present'}}
                </h5>
                <h6 class="timeline-description">{{exp.company}} </h6>
                <div>
                  <div class="chip" *ngFor="let skill of exp.skills">{{skill.name}}</div>
                  <ul *ngFor="let task of exp.taskPerformed" class="timeline-tasks">
                    <li>{{task}}</li>
                  </ul>
                  <br />
                </div>
              </div>
            </div>
          </li>
          <div class="timeline-top"></div>
        </ul>
      </div>
    </div>
  </div>
</section>