<section class="module module-gray" id="skills">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="m-title c-align">
          <h2>
            <fa-icon class="module-icon" [icon]="['fas', 'tools']" size="lg"></fa-icon>
            Skills
          </h2>
          <div class="block"></div>
        </div>
      </div>
    </div>

    <div class="chips__choice" *ngFor="let g of groupedSkills | keyvalue">
      <h5>{{g.key}}</h5>
      <div class="chip" *ngFor="let r of g.value">{{r.name}}</div>
    </div>
  </div>
</section>
