<section id="skill">
  <div class="skills">
    <p class="skills-boldtext">Skills</p>
    <p class="skills-slimtext">Main programming languages and technologies I have worked with</p>

    <div class="skills-items">

      <div class="itemwrapper" *ngFor="let skill of highlightedSkills">
        <div class="skills-items-item">
          <img src={{skill.imageUrl}} />
        </div>
        <p>{{skill.name}}</p>
      </div>
      <!-- <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/vuejs.png" />
        </div>
        <p>Vue.js</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/html-5.png" />
        </div>
        <p>HTML5</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/css-3.png" />
        </div>
        <p>CSS3</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/js.png" />
        </div>
        <p>JavaScript</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/ts.png" />
        </div>
        <p>TypeScript</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/c-sharp.png" />
        </div>
        <p>C#</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/golang.png" />
        </div>
        <p>GoLang</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/python.png" />
        </div>
        <p>Python3</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/azure.png" />
        </div>
        <p>Azure</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/aws.png" />
        </div>
        <p>AWS</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/gcp.png" />
        </div>
        <p>GCP</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/mssql.png" />
        </div>
        <p>MS SQL</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/mysql.png" />
        </div>
        <p>MySQL</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/postgresql.png" />
        </div>
        <p>PostgreSQL</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/redis.png" />
        </div>
        <p>Redis Cache</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/cosmosdb.png" />
        </div>
        <p>Cosmos DB</p>
      </div>
      <div class="itemwrapper">
        <div class="skills-items-item">
          <img src="../../assets/images/skills/mongo.png" />
        </div>
        <p>Mongo DB</p>
      </div> -->
    </div>
  </div>
</section>
