.skills {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.skills-boldtext {
  margin: 0;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 72px;
}
.skills-slimtext {
  margin: 0;
  align-self: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #e2e2e2;
}
.skills-items {
  padding-top: 60px;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
}
.skills-items:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  top: 80px;
  filter: blur(80px);
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.skills-items .itemwrapper p {
  width: 100px;
  margin: 0;
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
}

.skills-items-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 18px;
  background-color: #2d2f33;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  overflow: hidden;
}

.skills-items-item img {
  border-radius: 15px;
  width: 100px;
  height: 100px;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

@media screen and (max-width: 925px) {
  .skills-slimtext {
    text-align: center;
  }
  .skills-items {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding: 50px 0;
  }
  .skills-items:before {
    height: 200px;
    top: 90px;
    filter: blur(120px);

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
