<section id="skills">
  <div class="started">
    <p class="started-boldtext">Skills</p>
    <p class="started-slimtext">Main programming languages and technologies I have worked with</p>
    <div class="started-items">

      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/angular.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>Angular</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/vuejs.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>Vue.js</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/html-5.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>HTML5</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/css-3.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>CSS3</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/js.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>JavaScript</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/ts.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>TypeScript</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/c-sharp.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>C#</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/golang.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>GoLang</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/python.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>Python3</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/azure.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>Azure</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/aws.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>AWS</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/gcp.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>GCP</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/mssql.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>MS SQL</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/mySQL.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>MySQL</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/postgresql.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>PostgreSQL</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/redis.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>Redis Cache</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/cosmosdb.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>Cosmos DB</p>
      </div>
      <div class="itemwrapper">
        <div class="started-items-item">
          <img src="../../assets/images/skills/mongo.png" style="border-radius: 15px;" width="93" height="93" />
        </div>
        <p>Mongo DB</p>
      </div>
    </div>
  </div>
</section>