@media screen and (min-width: 999px) {
  .hero {
    background-image: url(https://picsum.photos/g/1280/721);
  }
}

.hero {
  position: relative;
  z-index: 1;
  height: 100vh;
  max-height: 1080px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #fff;
  display: table;
  width: 100%;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}
.hero:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    var(--primaryColor) 0%,
    var(--secondaryColor) 100%
  );
  opacity: 0.9;
  z-index: -1;
}
.hero h1 {
  font-size: 4em;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 2em;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}
.hero .content {
  display: table-cell;
  vertical-align: middle;
}
.btn-brand {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.btn-brand:hover {
  box-shadow: 0 0.25em 10px rgba(0, 0, 0, 0.4);
}
.arrow-down-icon {
  color: #fff;
}

.arrow-down-icon {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -15px;
  border-radius: 50%;
  height: calc(60px - 1rem);
  width: calc(60px - 1rem);
  padding: 0.7rem 0.5rem 0.5rem 0.5rem;
}

.arrow-down-icon:hover {
  background: rgba(0, 0, 0, 0.1);
}
