.headline-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.headline-box .infobox {
  animation-name: leftslide;
  animation-duration: 0.8s;
  max-height: 500px;
  max-width: 55%;
  overflow: hidden;
}
.headline-box .infobox-boldtext {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2px;
  text-align: left;
}
.headline-box .infobox-slimtext {
  margin: 24px 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
}
.headline-box .infobox-btnwrapper {
  display: flex;
  justify-content: left;
}
.headline-box .infobox-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  text-decoration: none;
  min-width: 230px;
  height: 40px;
  opacity: 1;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  color: #ffffff;
  transition: all 0.3s ease-in-out;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* filter: drop-shadow(0 0 16px rgba(199, 114, 255, 0.4));
  filter: drop-shadow(0 0 4px rgba(199, 114, 255, 0.4)); */
.headline-box .infobox-btn:hover {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.headline-box .infobox-btn svg g path {
  fill: #ffffff;
}

.headline-box .infobox-btn:active {
  -webkit-transform: translate3d(0, 0, 0) scale(0.95);
  transform: translate3d(0, 0, 0) scale(0.95);
}

.headline-box .infobox-btn svg {
  margin-right: 10px;
}

.headline-box .contactbox {
  animation-name: rightslide;
  animation-duration: 0.8s;
  padding: 14px;
  border: 1px solid;
  background: linear-gradient(
    169.44deg,
    rgba(58, 129, 191, 0.08) 1.85%,
    rgba(65, 48, 90, 0.08) 98.72%
  );
  border-radius: 35px;
  max-height: 450px;
  max-width: 50%;
  overflow: hidden;
}
.headline-box .contactbox-img {
  object-fit: cover;
  background-color: #2d2f33;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-select: none;
}

.headline-box .contactbox .infowrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.headline-box .contactbox .info {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}
.headline-box .contactbox .info p {
  margin: 0;
}
.headline-box .contactbox .info-img {
  object-fit: cover;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.headline-box .contactbox .info-img:hover {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) scale(1.15);
  transform: translate3d(0, 0, 0) scale(1.15);
}

.headline-box .contactbox .info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.headline-box .contactbox .info2 p {
  margin: 0;
  opacity: 0.8;
}

@media screen and (max-width: 1040px) {
  .headline-box {
    flex-direction: column;
  }
  .headline-box .infobox {
    max-height: 450px;
    max-width: none;
    margin-bottom: 50px;
  }
  .headline-box .contactbox {
    display: none;
    max-height: none;
    max-width: none;
  }
}

@media screen and (max-width: 700px) {
  .headline-box {
    flex-direction: column;
  }
  .headline-box .infobox {
    max-height: none;
    max-width: none;
    margin-bottom: 50px;
  }
  .headline-box .contactbox {
    display: block;
    max-height: none;
    max-width: none;
  }
  .headline-box .infobox-btnwrapper {
    justify-content: space-around;
  }
}
@media screen and (max-width: 600px) {
  .headline-box .infobox-boldtext {
    font-size: 55px;
    line-height: 50px;
  }
  .headline-box .infobox-slimtext {
    font-size: 15px;
    line-height: 1.5em;
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .headline-box .infobox-boldtext {
    font-size: 55px;
    line-height: 1.4em;
    text-align: center;
  }
  .headline-box .infobox-slimtext {
    text-align: center;
  }
}
@keyframes leftslide {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rightslide {
  from {
    transform: translateX(550px);
  }
  to {
    transform: translateX(0px);
  }
}
