.headline-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}

.headline-box .infobox {
  animation-name: leftslide;
  animation-duration: 0.8s;
  max-height: 500px;
  max-width: 55%;
  overflow: hidden;
}
.headline-box .infobox-boldtext {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 55px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: -2px;
  text-align: left;
}
.headline-box .infobox-slimtext {
  margin: 24px 0;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
}
.headline-box .infobox-btnwrapper {
  display: flex;
}
.headline-box .infobox-btn {
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* padding: 8px 38px; */
  border: 1px solid #d7d7d7;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  letter-spacing: -0.5px;
  color: #ffffff;
  text-decoration: none;
  width: 126px;
  height: 45px;
}

.headline-box .infobox-btn:hover {
  animation: background-fade 0.3s ease-in-out;
  /* border: 1px solid transparent; */
  background: linear-gradient(
    103.91deg,
    rgba(155, 81, 224, 1) 21.01%,
    rgba(48, 129, 237, 0.8) 100%
  );
  /* background: linear-gradient(
    103.91deg,
    #9b51e0 21.01%,
    rgba(48, 129, 237, 0.8) 100%
  ); */
}
@keyframes background-fade {
  0% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0) 21.01%,
      rgba(48, 129, 237, 0) 100%
    );
  }
  10% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.1) 21.01%,
      rgba(48, 129, 237, 0.08) 100%
    );
  }
  20% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.2) 21.01%,
      rgba(48, 129, 237, 0.16) 100%
    );
  }
  30% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.3) 21.01%,
      rgba(48, 129, 237, 0.24) 100%
    );
  }
  40% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.4) 21.01%,
      rgba(48, 129, 237, 0.32) 100%
    );
  }
  50% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.5) 21.01%,
      rgba(48, 129, 237, 0.4) 100%
    );
  }
  60% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.6) 21.01%,
      rgba(48, 129, 237, 0.48) 100%
    );
  }
  70% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.7) 21.01%,
      rgba(48, 129, 237, 0.56) 100%
    );
  }
  80% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.8) 21.01%,
      rgba(48, 129, 237, 0.64) 100%
    );
  }
  90% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 0.9) 21.01%,
      rgba(48, 129, 237, 0.72) 100%
    );
  }
  100% {
    background: linear-gradient(
      103.91deg,
      rgba(155, 81, 224, 1) 21.01%,
      rgba(48, 129, 237, 0.8) 100%
    );
  }
}

.headline-box .contactbox {
  animation-name: rightslide;
  animation-duration: 0.8s;
  padding: 14px;
  border: 1px solid;
  background: linear-gradient(
    169.44deg,
    rgba(58, 129, 191, 0.08) 1.85%,
    rgba(65, 48, 90, 0.08) 98.72%
  );
  border-radius: 35px;
  max-height: 450px;
  max-width: 50%;
  overflow: hidden;
}
.headline-box .contactbox-img {
  object-fit: cover;
  flex-shrink: 0;
  width: 300px;
  height: 300px;
  border-radius: 20px;
}
.headline-box .contactbox .infowrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.headline-box .contactbox .info {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
}
.headline-box .contactbox .info p {
  margin: 0;
}
.headline-box .contactbox .info-img:hover {
  color: #18b2de;
}

.headline-box .contactbox .info-img {
  object-fit: cover;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.headline-box .contactbox .info2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}
.headline-box .contactbox .info2 p {
  margin: 0;
}

@media screen and (max-width: 1040px) {
  .headline-box {
    flex-direction: column;
  }
  .headline-box .infobox {
    max-height: 450px;
    max-width: none;
    margin-bottom: 50px;
  }
  .headline-box .contactbox {
    display: none;
    max-height: none;
    max-width: none;
  }
}

@media screen and (max-width: 700px) {
  .headline-box {
    flex-direction: column;
  }
  .headline-box .infobox {
    max-height: none;
    max-width: none;
    margin-bottom: 50px;
  }
  .headline-box .contactbox {
    display: block;
    max-height: none;
    max-width: none;
  }
}
@media screen and (max-width: 600px) {
  .headline-box .infobox-boldtext {
    /* font-size: 45px; */
    font-size: 55px;
    line-height: 50px;
  }
  .headline-box .infobox-slimtext {
    font-size: 13px;
    line-height: 1.5em;
  }
}
@media screen and (max-width: 480px) {
  .headline-box .infobox-boldtext {
    /* font-size: 32px; */
    font-size: 55px;
    line-height: 1.4em;
    text-align: center;
  }
  .headline-box .infobox-slimtext {
    text-align: center;
  }
  .headline-box .infobox-btnwrapper {
    justify-content: center;
  }
}
@keyframes leftslide {
  from {
    transform: translateX(-700px);
  }
  to {
    transform: translateX(0px);
  }
}
@keyframes rightslide {
  from {
    transform: translateX(550px);
  }
  to {
    transform: translateX(0px);
  }
}
