:root {
  --primaryColor: #4568dc;
  --secondaryColor: #b06ab3;
}

html,
body,
a,
p,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Montserrat", Arial, serif;
}

a {
  color: var(--primaryColor);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  outline: 0;
  text-decoration: none;
  color: var(--secondaryColor);
}

.module,
.module-sm {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.module,
.module-sm {
  background-color: #fff;
  padding: 70px 0 70px;
}

.module-icon {
  padding-right: 10px;
  color: var(--primaryColor);
}

.block {
  width: 300px;
  height: 2px;
  background: var(--primaryColor); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    var(--primaryColor) 0%,
    transparent 100%
  );
  background: -webkit-linear-gradient(
    -45deg,
    var(--primaryColor) 0%,
    transparent 100%
  );
  background: linear-gradient(135deg, var(--primaryColor) 0%, transparent 100%);
  margin-top: 25px;
  margin-bottom: 25px;
}

.btn {
  border-width: 0;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat", Arial, serif;
  font-size: 14px;
  padding: 9.5px 12px;
  margin: 5px;
}

.btn > span {
  position: relative;
  z-index: 1;
}

.btn:before {
  content: "";
  position: absolute;
  display: block;
  z-index: 0;
  width: 0;
  height: 0;
  left: 50%;
  top: 50%;
  right: 0;
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:hover:before {
  height: 450%;
  width: 120%;
  transition: all 350ms linear;
}

.btn:focus,
.btn.focus,
.btn.active.focus,
.btn.active:focus,
.btn:active.focus,
.btn:active:focus {
  box-shadow: none;
  outline: 0;
}

button {
  cursor: pointer;
}

.btn.btn-brand {
  background: #202020;
  color: #fff;
}

.btn.btn-brand:before {
  background: var(--primaryColor);
}

.btn.btn-brand.btn-outline {
  background: transparent;
  border: 1px solid #202020;
  color: #525252;
}

.btn.btn-brand.btn-outline:before {
  background: #202020;
}

.btn.btn-brand.btn-outline:hover {
  border-color: #202020;
  color: #fff;
}
