<!-- <app-header></app-header>
<app-headline></app-headline>
<div class="wrapper">
  <div class="center fade-in" [appBusyIndicator]="isLoading"></div>
  <p class="center fade-in" *ngIf="isLoading && !isLongLoading">loading...</p>
  <p class="center fade-in" *ngIf="isLoading && isLongLoading">
    serverless database is used, you may experience a "cold start" when it's invoked first time after a while</p>
  <app-skills [groupedSkills]="groupedSkills"></app-skills>
  <app-experience [experience]="experience"></app-experience>
  <app-certification [certification]="certification"></app-certification>
  <app-education [education]="education"></app-education>
  <app-contacts [contacts]="contacts"></app-contacts>
  <app-footer></app-footer>
</div> -->

<div class="landingpage">
  <div class="navbar">
    <a class="navlogo">MICKEY KRASILNIKOV</a>
    <button class="hamburger">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
        <path d="M3 12h18M3 6h18M3 18h18" />
      </svg>
    </button>
    <div class="navlinkwrap">
      <span class="navlink selectedlink">Home</span>
      <span class="navlink">Skills</span>
      <span class="navlink">Experience</span>
      <span class="navlink">Certification</span>
    </div>
    <div class="buttonwrap">
      <!-- <button class="createbtn selectedbtn">CREATE</button> -->
      <button class="createbtn">Sign In</button>
    </div>
  </div>
  <div class="box">
    <div class="infobox">
      <p class="infobox-boldtext">
        Welcome to my website!<br>
        My name is Mikhail
      </p>
      <p class="infobox-slimtext">
        I'm a fullstack software developer with a passion for creating intuitive and responsive applications.
        Whether you're here to learn more about my skills, check out my portfolio, or collaborate on a project,
        I'm excited to connect with you. Feel free to explore my website and get in touch with me to learn more
        about how we can work together.
      </p>
      <div class="infobox-btnwrapper">
        <!-- <button class="infobox-explorebtn selected">About</button> -->
        <button class="infobox-createbtn">Send me an email</button>
        <button class="infobox-createbtn">Download resume</button>
      </div>
    </div>
    <div class="display">
      <img class="display-nft" src="../../assets/images/photo.jpeg" alt="Photo of Mikhail Krasilnikov">
      <div class="infowrapper">

        <div class="info">
          <div class="info-img">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30"
              height="30" viewBox="0 0 256 256" xml:space="preserve">
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path
                  d="M 45 0 C 20.147 0 0 20.147 0 45 c 0 24.853 20.147 45 45 45 c 24.853 0 45 -20.147 45 -45 C 90 20.147 69.853 0 45 0 z M 31.187 69.956 H 20.822 V 36.617 h 10.365 V 69.956 z M 26.005 32.062 c -3.32 0 -6.005 -2.692 -6.005 -6.007 c 0 -3.318 2.685 -6.011 6.005 -6.011 c 3.313 0 6.005 2.692 6.005 6.011 C 32.01 29.37 29.317 32.062 26.005 32.062 z M 70 69.956 H 59.643 V 53.743 c 0 -3.867 -0.067 -8.84 -5.385 -8.84 c -5.392 0 -6.215 4.215 -6.215 8.562 v 16.491 H 37.686 V 36.617 h 9.939 v 4.559 h 0.141 c 1.383 -2.622 4.764 -5.385 9.804 -5.385 C 68.063 35.791 70 42.694 70 51.671 V 69.956 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255, 255, 255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
            </svg>
          </div>
          <div class="info-img">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="30"
              height="30" viewBox="0 0 256 256" xml:space="preserve">
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path
                  d="M 45 0 C 20.147 0 0 20.467 0 45.714 C 0 67.034 14.367 84.944 33.802 90 c -0.013 -5.283 -0.03 -11.763 -0.04 -13.782 c -12.986 2.869 -15.726 -5.595 -15.726 -5.595 c -2.123 -5.481 -5.183 -6.939 -5.183 -6.939 c -4.236 -2.943 0.319 -2.883 0.319 -2.883 c 4.687 0.334 7.156 4.887 7.156 4.887 c 4.163 7.249 10.92 5.153 13.584 3.942 c 0.419 -3.064 1.628 -5.157 2.964 -6.341 c -10.368 -1.199 -21.268 -5.265 -21.268 -23.435 c 0 -5.177 1.824 -9.407 4.81 -12.728 c -0.485 -1.195 -2.083 -6.018 0.452 -12.55 c 0 0 3.92 -1.274 12.84 4.861 c 3.724 -1.051 7.717 -1.578 11.684 -1.596 c 3.967 0.018 7.963 0.545 11.694 1.596 c 8.91 -6.135 12.824 -4.861 12.824 -4.861 c 2.541 6.532 0.943 11.355 0.458 12.55 c 2.993 3.321 4.804 7.551 4.804 12.728 c 0 18.214 -10.92 22.223 -21.315 23.398 c 1.674 1.472 3.166 4.357 3.166 8.781 c 0 3.513 -0.016 11.601 -0.031 17.74 C 76.021 84.439 90 66.74 90 45.714 C 90 20.467 69.853 0 45 0 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255, 255, 255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
            </svg>
          </div>
          <div class="info-img">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="32"
              height="32" viewBox="0 0 256 256" xml:space="preserve">
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path
                  d="M 45 0 C 20.147 0 0 20.147 0 45 c 0 24.853 20.147 45 45 45 s 45 -20.147 45 -45 C 90 20.147 69.853 0 45 0 z M 70 55.399 C 70 63.463 63.463 70 55.399 70 H 34.601 C 26.537 70 20 63.463 20 55.399 V 34.601 C 20 26.537 26.537 20 34.601 20 h 20.798 C 63.463 20 70 26.537 70 34.601 V 55.399 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255, 255, 255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
                <circle cx="45.150999999999996" cy="45.150999999999996" r="13.081"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255, 255, 255); fill-rule: nonzero; opacity: 1;"
                  transform="  matrix(1 0 0 1 0 0) " />
                <circle cx="60.980000000000004" cy="29.32" r="2.95"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255, 255, 255); fill-rule: nonzero; opacity: 1;"
                  transform="  matrix(1 0 0 1 0 0) " />
              </g>
            </svg>
          </div>
          <div class="info-img">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="31"
              height="31" viewBox="0 0 256 256" xml:space="preserve">
              <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path
                  d="M 45 -0.228 c -24.853 0 -45 20.25 -45 45.229 c 0 22.806 16.797 41.66 38.633 44.77 V 58.779 h -10.64 V 46.328 h 10.64 v -9.182 c 0 -10.656 6.441 -16.458 15.849 -16.458 c 4.506 0 8.38 0.339 9.508 0.491 v 11.136 l -6.525 0.003 c -5.116 0 -6.107 2.457 -6.107 6.061 v 7.949 h 12.202 l -1.589 12.451 H 51.359 v 30.993 C 73.199 86.666 90 67.81 90 45.001 C 90 20.022 69.853 -0.228 45 -0.228 z"
                  style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255, 255, 255); fill-rule: nonzero; opacity: 1;"
                  transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
              </g>
            </svg>
          </div>
        </div>
        <div class="info2">
          <p>FOLLOW ME IN</p>
          <p>SOCIAL MEDIA</p>
        </div>
      </div>
    </div>
  </div>

  <section id="showcase">
    <div class="showcase">
      <p class="showcase-boldtext">Showcase & Share</p>
      <p class="showcase-slimtext">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hey there! I wanted to share with you the website I developed
        for a few different
        purposes. Firstly, it serves as a
        platform for me to share my resume, experience, and skills with recruiters. But it's not just about me! I hope
        to help others learn about specific technologies by
        providing them with
        real-life
        examples of functional applications, complete with source code shared on <a
          href="https://github.com/mickey-krasilnikov" target="_blank">GitHub</a>. In plans, I would like to build
        the frontend of the website using <a href="https://angular.io/" target="_blank">Angular</a>, <a
          href="https://vuejs.org/" target="_blank">Vue.js</a>, and
        <a href="https://reactjs.org/" target="_blank">React</a>, all with the
        same
        UI/UX
        backed by <a href="https://restfulapi.net/" target="_blank">RESTful Web API</a> utilizing various programming
        languages such as
        <a href="https://learn.microsoft.com/en-us/dotnet/csharp/" target="_blank">C#</a> (<a
          href="https://learn.microsoft.com/en-us/aspnet/core/?view=aspnetcore-7.0" target="_blank">ASP.NET Core Web
          API</a>), <a href="https://go.dev/" target="_blank">GoLang</a>
        (<a href="https://gin-gonic.com/" target="_blank">Gin</a>),
        <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a> (<a href="https://expressjs.com/"
          target="_blank">Express</a>), <a href="https://www.python.org/">Python</a>
        (<a href="https://flask.palletsprojects.com/en/2.2.x/" target="_blank">Flask</a>), etc. To make it even more
        customizable, the backend can be connected to Relational
        <a href="https://www.microsoft.com/en-us/sql-server/" target="_blank">MS SQL Server</a>
        or NoSQL <a href="mongodb.com" target="_blank">MongoDB</a>. I also have in my plans the idea to build a
        mobile client for iOS using <a href="https://www.apple.com/swift/" target="_blank">Swift</a> and a
        desktop
        app using <a href="https://www.electronjs.org/">Electron</a>. I’m sorry if at the moment when you read this, not
        everything is completed, as it could
        take some time to
        implement all
        of this. I'm excited to share this with you, and I hope you find it interesting and informative.
        Feel free to
        contact me
        in case
        if you need any help. Thanks for taking the time to check it out!
      </p>
    </div>
  </section>

  <app-skills [groupedSkills]="groupedSkills"></app-skills>
  <app-experience [experience]="experience"></app-experience>
  <!-- <app-certification [certification]="certification"></app-certification> -->

  <div class="discover">
    <div class="discover-title">
      <p>Certification</p>
      <div class="filters">
        <div class="filter">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 14 12">
            <path
              style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:#f2f2f2;stroke-opacity:1;stroke-miterlimit:4"
              d="M1.731 1.002h13.1976M1.731 4.998h9.134M1.731 9h6.0893m4.0636 0 4.0575-4.002m0 0L20.005 9m-4.0636-4.002v12"
              transform="scale(.63636 .66667)" />
          </svg>
          Category
        </div>
        <div class="filter">
          Cheapest
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 11 6">
            <path
              style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:#f2f2f2;stroke-opacity:1;stroke-miterlimit:4"
              d="M15.4787 1.002 8.3732 7.998 1.2678 1.002" transform="scale(.64706 .66667)" />
          </svg>
        </div>
        <div class="filter">
          Newest
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" viewBox="0 0 11 6">
            <path
              style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:#f2f2f2;stroke-opacity:1;stroke-miterlimit:4"
              d="M15.4787 1.002 8.3732 7.998 1.2678 1.002" transform="scale(.64706 .66667)" />
          </svg>
        </div>
        <button class="filterbtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 14 14">
            <path
              style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke:#fff;stroke-opacity:1;stroke-miterlimit:4"
              d="M1.1546 1.9978c0-.5525.4553-.999 1.0028-.999h16.273c.5537 0 1.0028.4465 1.0028.999v2.578c0 .2735-.1046.5358-.3014.72l-6.5092 6.4062c-.1846.1897-.2953.4464-.2953.7199V15l-4.0606 4.0011V12.422c0-.2735-.1046-.5302-.3015-.7199l-6.503-6.4062c-.1907-.1842-.3076-.4465-.3076-.72Zm0 0"
              transform="matrix(.63492 0 0 .7 .3333 0)" />
          </svg>
          Filter
        </button>
      </div>
    </div>
    <div class="discover-items">

      <div class=item>
        <a href="https://www.credly.com/badges/dc95ff2a-12d8-4816-91b2-a9292ae5df85" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/aws-sa-associate.png" alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>AWS Solutions Architect Associate</p>
        </div>
        <p class="item-date">Expires on April 28, 2024</p>
      </div>

      <div class=item>
        <a href="https://www.credential.net/786961ad-0225-4bb0-883a-3c2feceb5174" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/google-sa-expert.png" alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>Google Cloud Architect Expert</p>
        </div>
        <p class="item-date">Expired on October 27, 2022</p>
      </div>

      <div class=item>
        <a href="https://www.credential.net/f4054913-d10c-4cd4-89cb-e286f00de2ae" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/google-eng-associate.png"
            alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>Google Cloud Engineer Associate</p>
        </div>
        <p class="item-date">Expires on September 29, 2023</p>
      </div>

      <div class=item>
        <a href="https://www.credly.com/badges/8ea21901-34c7-4cb4-bc48-71e0c5cf3e85" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/az-sa-expert.png" alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>Azure Solutions Architect Expert</p>
        </div>
        <p class="item-date">Expires on June 10, 2023</p>
      </div>

      <div class=item>
        <a href="https://www.credly.com/badges/eaedb35f-5ea9-45b2-b551-acad69b94488" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/az-devops-expert.png" alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>Azure DevOps Engineer Expert</p>
        </div>
        <p class="item-date">Expires on December 10, 2023</p>
      </div>

      <div class=item>
        <a href="https://www.credly.com/badges/49ab14ad-ffe5-47ae-b3d1-9d29b00ef4dc" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/az-dev.png" alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>Azure Developer Associate</p>
        </div>
        <p class="item-date">Expired on May 13, 2022</p>
      </div>

      <div class=item>
        <a href="https://www.credly.com/badges/d610c994-20ec-478d-bd77-62346d43965b" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/az-admin.png" alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>Azure Administrator Associate</p>
        </div>
        <p class="item-date">Expired on July 15, 2022</p>
      </div>

      <div class=item>
        <a href="https://www.credly.com/badges/a39ead65-96b1-41b8-af3a-61c4662e912d" target="_blank">
          <img class="item-img" src="../../assets/images/certbadges/az-fund.png" alt="unsplash-OG44d93i-NJk">
        </a>
        <div class="item-title">
          <p>Azure Fundamentals</p>
        </div>
        <p class="item-date">Never expires</p>
      </div>

    </div>
    <button class="discover-loadbtn">LOAD MORE</button>
  </div>
  <div class="footer">
    <div class="footer-main">
      If you have any feedback or questions, please don't hesitate to reach out. Thanks!
    </div>
    <div class="footer-navigate">
      <div class="nav">
        <h5>Site Map</h5>
        <p>Home</p>
        <p>Skills</p>
        <p>Experience</p>
        <p>Certification</p>
      </div>
      <div class="nav">
        <h5>Portfolio</h5>
        <p>Coming soon</p>
        <p>Awesome Project</p>
        <p>Brilliant Project</p>
      </div>
      <div class="nav">
        <h5>Contact</h5>
        <p>LinkedIn</p>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Email</p>
      </div>
    </div>
  </div>
  <div class="footer2">
    <div></div>
    <p>Copyright 2023 Mikhail Krasilnikov</p>
  </div>
</div>